.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}


/*.ta{
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}*/

.listGroupMagazine {
    max-width: 95%;
    margin: auto;
    margin-bottom: 3em;
    
}

.listGroupMagazine img {
    
    max-height:250px;
    max-width: 200px;
}

.listGroupMagazine h3 {
  font-size: 35px;
  margin: 15px 0 5px 0;
  font-family: "Open Sans", sans-serif;
  color:#000;
  text-align:center;
  font-weight: bold;
  line-height: 1.2em;

}

.magazinePublishDetails{
    font-size: 14px;
    background-color: rgba(133, 133, 133, 1);
    font-weight: bold;
    display: table;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #FFF;
}

.magazinePublishDetails p {
     padding-left:10px;
     padding-top:10px;
     text-align: center;

}

.magazineSummary{
    white-space: pre-wrap;
   font-weight:bold;
    line-height: 15px;
    font-size: 15px;
    
}

/*************************************** ListView CSS Ends **********************************************/

.magazineSingleView img{
    
    max-height:550px; 
    max-width: 400px;
    padding-top: 3em;
}

.magazineSingleView h2{

  font-size: 50px;
  margin: 35px 0 5px 0;
  font-family: "Open Sans", sans-serif;
  color:#000;
  text-align:center;
  font-weight: bold;
  line-height: 1.2em;
}

.magazineStoreDetails{
    
    font-size: 14px;
    background-color: rgba(133, 133, 133, 1);
    font-weight: bold;
    display: table;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    color: #FFF;
    
}