<section data-ng-controller="ArticlesController" data-ng-init="find(); articlesByCategory()">
    <!--<div class="page-header row">
            <div class="col-sm-8 col-md-8">
                <h1>Articles</h1>
            </div>
            
                <div class="col-sm-4 col-md-4 input-group pull-right">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search">
                    <span class="input-group-btn">
                 <button ng-click="search()" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
               </span>
            </div>
            
        </div>-->

    <div class="page-header">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <h2>Article List</h2>
            </div>

            <div class="col-sm-6 col-md-6">

                <a data-ng-show="authentication.user" class="btn btn-primary addBtn pull-right" ng-href="#!/articles/create"><i class="glyphicon glyphicon-plus"></i>Article</a>

                <div class="input-group">
                    <input type="text" class="form-control" ng-model="query" placeholder="Search">
                    <span class="input-group-btn">
                     <button ng-click="search()" class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                   </span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-6">
            <h3>All Articles</h3>
            <hr/>
            <div class="list-group">
                <a data-ng-repeat="article in articles | filter : query" data-ng-href="#!/articles/{{article._id}}" class="list-group-item">
                    <strong class="list-group-item-heading" data-ng-bind="article.title"></strong>
                    <p class="list-group-item-text" ng-bind-html="parseArticleContent(article.content)></p>
                    <small class="list-group-item-text">
				Posted on
				<span data-ng-bind="article.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="article.user.displayName"></span>
			</small>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <h3>Articles By Category</h3>
            <hr/>
            <div class="list-group">
                <div ng-repeat="articlesByCategory in articleList | filter:category._id" class="list-group-item">
                    <strong>{{articlesByCategory._id}}</strong>
                    <div ng-repeat="article in articlesByCategory.articleTitleNid">
                        <a data-ng-href="#!/articles/{{article.id}}" style="padding-top:20px; text-align:center; line-height: 1.8em;">
                            <span class="magazineSummary" ng-bind-html="article.title"></span>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
            No articles yet, why don't you <a href="/#!/articles/create">create one</a>?
        </div>
</section>