<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="article.title"></h1>

	<div class="pull-right" data-ng-show="authentication.user._id == article.user._id">
		<a class="btn btn-primary" href="/#!/articles/{{article._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	</div>
	
	<div class="col-sm-12 col-md-12 center articleCoverImage">
		<img ng-src="{{article.rImageUrl}}"/>
	</div>
	
	<div class="col-sm-12 col-md-12 articleContent">
		<p ng-bind-html="article.content | limitTo: 1000"></p>
		<a ng-href="/#!/latestnews/{{news._id}}">... Read More... &gt;&gt;</a>
	</div>
</section>