<section data-ng-controller="MagazinesController" data-ng-init="findOne(); articleByMagazine()">
	
<!--	<div class="page-header">
		<h1 data-ng-bind="magazine.name"></h1>
	</div>-->
	
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == magazine.user._id))">
		<a class="btn btn-primary" href="/#!/magazines/{{magazine._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="magazineSingleView">
	 <div class="row">
                    <div class="col-sm-4 col-md-4">
			         	<img ng-src="{{magazine.rImageUrl}}"></img>
		        	</div>
		        	<div class="col-sm-1 col-md-1"></div>
		        	<div class="col-sm-7 col-md-7">
                        <h2 data-ng-bind="magazine.name"></h2> 
                        <div class="magazinePublishDetails">
                            <p class="pull-left" data-ng-bind="magazine.yearQuarter"></p>
                            <p class="pull-left" data-ng-bind="magazine.yearNumber"></p>
                            <p class="pull-right" style="padding-right:10px; color: #000;" data-ng-bind="magazine.publishDate"></p>
                        </div>
                        
                            
                                <div ng-repeat= "articles in articleList | filter:magazine._id">
                                 <div ng-repeat= "article in articles.articleTitle">
                                    <a href="/#!/articles/{{article.id}}" style="padding-top:20px; text-align:center; line-height: 1.8em;">
                                     
                                <span class="magazineSummary" ng-bind-html="article.title">helloonew</span>
                                </div>
                                </div>
                            </a>
                    </div>
                </div>
    </div>
      </br>

    <div class="magazineStoreDetails">
     <div class="row">
     	<div class="col-sm-6 col-md-6">
     		<h3>আজই সংগ্রহ করুন</h3>
     	</div>
     	<div class="col-sm-6 col-md-6">
     	 <div ng-repeat= "salePoint in magazine.salePoints">
     	 	 <span class="pull-right" style="color: #000;">{{salePoint.storeLocation}}</span> <span class="pull-right" style=" padding-right:10px;">{{salePoint.storeName}}</span>
     	 </br>
     	 </div>
     	 
   	</div>
   	</div>
   	</div>
   </br>
</section>